@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,system-ui,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
}
#ceresCartLogo{
    height: 40px;
    align-items: center;
}
nav a {
    font-size: 115%;
    color: rgb(17, 16, 16);
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}
@media (max-width: 600px) {
    nav a {
        margin-left: 0; /* Hide menu bar on larger screens */
        margin-top: 8px;
    }
}

section {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-size: 625%;
    color: rgb(9, 8, 8);
    font-weight: 700;
}
h1{
    font-weight: 250;
    font-size: 65%;
}
h2{
    font-weight: 250;
    font-size: 40%;
}
h3{
    padding-top: 16px;
    font-weight: 200;
    font-size: 35%;
}
h4{
    font-weight: 200;
    font-size: 20%;
    line-height: 175%;
    margin-top: 0px;
}
h5{
    font-weight: 200;
    font-size: 15%;
    padding-top: 5%;
}
h6{
    font-weight: 200;
    font-size: 16px;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
#head{
    padding-left: 25px;
    padding-right: 30px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
}
#headerLogo{
    display: flex; 
    align-items: center;
}
#name{
    font-size: 150%;
    color: rgb(15, 14, 14);
    text-decoration: none;
    font-weight: 600;
    margin-left: 16px;
}
#menu{
    height:25px; 
    display: none;
}
#menuBar{
    font-size: 115%;
    display: none;
}
@media (max-width: 600px) {
    .hideOnMobile { 
        display: none;
    }
    .displayOnMobile {
        display: flex;
    }
    #menu {
        display: flex; 
    }
    #menuUl{
        justify-content: flex-end;
    }
}
@media (min-width: 601px) {
    #menuBar {
        display: none !important; /* Hide menu bar on larger screens */
    }
}
nav a.active {
    color: #6dab9b;
}
nav a.hover {
    color: #6dab9b;
}

