#home{
    min-height: 90vh;
}
.menu-image {
    width: 24px;
    height: 24px; 
}
#product{
    background-color: #f5f5f5;
    height: 340vh;
    overflow: hidden;
    position: relative;
    overflow-y: auto; 
    display: flex;
}
#productImages{
    width: 50%; /* 50% of the width for images */
}
.desktopImage {
    position: fixed;
    left: 0; 
    width: 50%; 
    margin: 0;
    padding: 0;
    border: 0;
}
#allProductText {
    width: 50%; 
    padding: 0;
    border: 0;
    display: flex; 
    flex-direction: column; 
    margin-right: 20px;
}
.productText {
    height: 80vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.largerProductText{
    font-size: 45%;
    font-weight: 500;
    color: #6dab9b;
}
.smallerProductText{
    font-size: 35%;
    font-weight: 200;
    margin-top: 10px;
}
.screenshot {
    position: fixed;
    left: 15%; 
    width: 25%; 
    margin: 0;
    padding: 0;
    border: 0;
}
#pricingDiv{
    width: 460px;
    margin-left: 16px;
}
.outmostPricingDiv{
    width: 300px;
    border: 2px solid black; /* Set the border to black with 2px width */
    border-radius: 12px; 
    margin-left: 16px;
    height: 340px; 
}

.checkmark{
    height: 16px;
    width: auto;
    margin-right: 8px;
}
.benefit{
    display: flex;
    padding-top: 16px;
    align-items: center; /* Align items vertically in the center */
}
.pinkDiv{
    height: 136px; 
    background-color: rgb(245, 206, 218);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    padding-left: 16px;
}
.greenDiv{
    height: 136px; 
    background-color: rgb(148, 201, 186);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    padding-left: 16px;
}
.blackDiv{
    height: 200px; 
    background-color: rgb(0, 0, 0); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    color: white; 
    padding-left: 16px;
}
#homeText{
    display: flex; 
    flex-direction: column; 
    padding-left: 16px;
    width: 500px;
}
#downloadButton{
    color: white; 
    background-color: #000000;
    height: 50px;
    width: 320px;
    border-radius: 10px; 
    cursor: pointer; 
    margin-top: 16px;
    box-shadow: none; 
    outline: none; 
    border: 1px solid black; 
    align-items: center; /* Center items vertically */
    display: flex;
    font-weight: 400;
    font-size: 16px;
}
#downloadButton:hover {
    background-color: #7c77b9;
  }
#contact{
    display: flex; 
    flex-direction: column; 
    background: rgb(255, 225, 105);
    min-height: 30vh;
}
.chromeLogoInButton {
    width: 32px; 
    height: auto; 
    margin-right: 16px;
    margin-left: 8px;
}
.hyperlink{
    text-decoration: none; 
    display: inline-block;
    height: auto;
}
#userSurvey{
    color: rgb(0, 0, 0); 
    font-weight: 200;
    font-size: 15%;
}
#privacyPolicy{
    color: rgb(0, 0, 0); 
    font-weight: 200;
    font-size: 15%;
    font-weight: 500;
    margin-top: 16px;
}
#integrations{
    padding-left: 10%;
    padding-right: 10%;
    min-height: 55vh;
    background: rgb(187, 184, 214);
    display: block;
}
#integrationsHeader{
    padding-top: 10%; 
    font-weight: 500;
}
#integrationsBody{
    padding-top: 24px; 
    width: 100%;
}
.black-svg {
    filter: invert(100%);
}
#krogerLogo{
    padding-top: 16px;
    height: 80px;
    align-items: center;
}
.divider{
    position: relative;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    top: 0px;
    background-color: #f5f5f5;
}
.divider svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 45px;
}
.homeAndProductDivider{
    fill: #ffffff;
    background-color: #f5f5f5;

}
.productAndIntegrationsDivider{
    transform: scaleX(-1); 
    background-color: #ffffff;
    fill: rgb(187, 184, 214);
}


