@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,system-ui,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
#name{
    font-size: 150%;
    color: rgb(15, 14, 14);
    text-decoration: none;
    font-weight: 600;
    margin-left: 16px;
}
#head{
    padding-left: 30px;
    padding-right: 30px;
}
#ceresCartLogo{
    height: 40px;
    align-items: center;
}
#menuBar{
    margin-top: 80px;
    font-size: 115%;
    display: none;
    
}
.menu{
    height:25px; 
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu {
        display: flex; /* Change to flex for mobile */
    }
    #head{
        padding-left: 10px;
        padding-right: 10px;
    }
}

nav a {
    font-size: 115%;
    color: rgb(17, 16, 16);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover,
nav a.active {
    color: #6dab9b;
}
section {
    min-height: 100vh;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-size: 625%;
    color: rgb(9, 8, 8);
    font-weight: 700;
}
h1{
    font-weight: 250;
    font-size: 65%;
}
h2{
    font-weight: 250;
    font-size: 40%;
}
h3{
    padding-top: 16px;
    font-weight: 200;
    font-size: 35%;
}
h4{
    font-weight: 200;
    font-size: 20%;
    line-height: 175%;
    margin-top: 0px;
}
h5{
    font-weight: 200;
    font-size: 15%;
    padding-top: 5%;
}
h6{
    font-weight: 200;
    font-size: 16px;
    margin: 0;
}
#headerLogo{
    display: flex; 
    align-items: center;
}
.menu-image {
    width: 24px;
    height: 24px; 
}
#product{
    background-color: #f5f5f5;
    min-height: 110vh;
}
#pricingDiv{
    width: 460px;
    margin-left: 16px;
}
.outmostPricingDiv{
    width: 300px;
    border: 2px solid black; /* Set the border to black with 2px width */
    border-radius: 10px; 
    margin-left: 16px;
    height: 340px; 
}
.checkmark{
    height: 16px;
    width: auto;
    margin-right: 8px;
}
.benefit{
    display: flex;
    padding-top: 16px;
    align-items: center; /* Align items vertically in the center */
}
.pinkDiv{
    height: 136px; 
    background-color: rgb(245, 206, 218);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    padding-left: 16px;
}
.greenDiv{
    height: 136px; 
    background-color: rgb(148, 201, 186);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    padding-left: 16px;
}
.blackDiv{
    height: 200px; 
    background-color: rgb(0, 0, 0); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    color: white; 
    padding-left: 16px;
}
#homeText{
    display: flex; 
    flex-direction: column; 
    padding-left: 16px;
    width: 500px;
}
#downloadButton{
    color: white; 
    background-color: #000000;
    height: 50px;
    width: 320px;
    border-radius: 10px; 
    cursor: pointer; 
    margin-top: 16px;
    box-shadow: none; 
    outline: none; 
    border: 1px solid black; 
    align-items: center; /* Center items vertically */
    display: flex;
    font-weight: 400;
    font-size: 16px;
}
#downloadButton:hover {
    background-color: #7c77b9;
  }
#contact{
    display: flex; 
    flex-direction: column; 
    background: rgb(255, 225, 105);
    min-height: 30vh;
}
.chromeLogoInButton {
    width: 32px; 
    height: auto; 
    margin-right: 16px;
    margin-left: 8px;
}
.hyperlink{
    text-decoration: none; 
    display: inline-block;
    height: auto;
}
#userSurvey{
    color: rgb(0, 0, 0); 
    font-weight: 200;
    font-size: 15%;
}
#privacyPolicy{
    color: rgb(0, 0, 0); 
    font-weight: 200;
    font-size: 15%;
    font-weight: 500;
    margin-top: 16px;
}
#productDiv{
    margin-left: 16px;
}
.productImageAndText{
    width: 20vw;
    margin-right: 32px;
}
.productImage{
    width: 20vw; 
    height: auto; 
    border: 1px solid rgb(187, 184, 214);
    border-radius: 10px; 
}
#integrations{
    min-height: 55vh;
    background: rgb(187, 184, 214);
}
.black-svg {
    filter: invert(100%);
}
#krogerLogo{
    padding-top: 16px;
    padding-left: 172px;
    height: 80px;
    align-items: center;
}
.divider{
    position: relative;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    top: 0px;
    background-color: #f5f5f5;
}
.divider svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 45px;
}
.homeAndProductDivider{
    fill: #ffffff;
    background-color: #f5f5f5;
}
.productAndIntegrationsDivider{
    transform: scaleX(-1); 
    background-color: #ffffff;
    fill: rgb(187, 184, 214);
}
